body {
     font-family: 'Roboto', sans-serif;
    background-color: #000000;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

h2 {
    color: #2d6a4f;
    text-align: center;
    margin-bottom: 25px;
}

form label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
    color: #333;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}

form input:focus, 
form textarea:focus {
    border-color: #74c69d;
    outline: none;
}

.combo-box {
    position: relative;
    width: 100%;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown div {
    padding: 10px;
    cursor: pointer;
}

.dropdown div:hover {
    background-color: #f1f1f1;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 15px;
}

form button {
    background-color: #40916c;
    color: white;
    font-size: 1em;
    padding: 15px 10px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
}

form button:hover {
    background-color: #2d6a4f;
    transform: translateY(-2px);
}
